common --registry https://bcr.bazel.build/
common --registry https://raw.githubusercontent.com/Jiiku831/sekai-public/main/
build:c++23 --cxxopt=-std=c++23
build --config=c++23 --define=absl=1 --incompatible_enable_cc_toolchain_resolution
