common --registry https://bcr.bazel.build/
common --registry https://raw.githubusercontent.com/Jiiku831/sekai-modules/main/
build --config=c++20 --define=absl=1 --incompatible_enable_cc_toolchain_resolution

build:c++20 --cxxopt=-std=c++20

build:asan \
  --cxxopt=-fsanitize=address \
  --linkopt=-fsanitize=address
build:ubsan \
  --cxxopt=-fsanitize=undefined \
  --linkopt=-fsanitize=undefined

# Configurations for wasm
build:wasm \
  --cxxopt=-std=c++20 \
  --cxxopt=-Wno-error=deprecated-pragma \
  --cxxopt=-Wno-error=deprecated-this-capture \
  --cxxopt=-Wno-error=unused-function \
  --cxxopt=-DBS_THREAD_POOL_DISABLE_EXCEPTION_HANDLING

build:wasm-dbg \
  --cxxopt=-O0 \
  --linkopt=-O0 \
  --cxxopt=-g \
  --linkopt=-g \
  --linkopt=-gsource-map \
  --cxxopt=-std=c++20 \
  --cxxopt=-Wno-error=deprecated-pragma \
  --cxxopt=-Wno-error=deprecated-this-capture \
  --cxxopt=-Wno-error=unused-function \
  --cxxopt=-DBS_THREAD_POOL_DISABLE_EXCEPTION_HANDLING \

build:wasm-asan \
  --cxxopt=-O0 \
  --linkopt=-O0 \
  --cxxopt=-g \
  --linkopt=-g \
  --linkopt=-gsource-map \
  --cxxopt=-fsanitize=address \
  --linkopt=-fsanitize=address \
  --cxxopt=-std=c++20 \
  --cxxopt=-Wno-error=deprecated-pragma \
  --cxxopt=-Wno-error=deprecated-this-capture \
  --cxxopt=-Wno-error=unused-function \
  --cxxopt=-DBS_THREAD_POOL_DISABLE_EXCEPTION_HANDLING

build:wasm-ubsan \
  --cxxopt=-O0 \
  --linkopt=-O0 \
  --cxxopt=-g \
  --linkopt=-g \
  --linkopt=-gsource-map \
  --cxxopt=-fsanitize=undefined \
  --linkopt=-fsanitize=undefined \
  --cxxopt=-std=c++20 \
  --cxxopt=-Wno-error=deprecated-pragma \
  --cxxopt=-Wno-error=deprecated-this-capture \
  --cxxopt=-Wno-error=unused-function \
  --cxxopt=-DBS_THREAD_POOL_DISABLE_EXCEPTION_HANDLING
