.card-svg
  width: 100px

.card-svg-td
  width: 110px
  height: 110px

.card
  display: inline-table
  &, tr, td
    border: none
  td
    padding: 0
    text-align: center

.support-card
  .card-svg
    width: 50px
  .card-svg-td
    width: 50.5px
    height: 50.5px
  pre
    font-size: smaller

.team
  border: thin solid black
  td
    vertical-align: top

pre
  margin: 0
