
.card-svg
  width: 100px

.card-svg-td
  width: 110px
  height: 110px

.card
  display: inline-table
  margin-right: 0.5em
  &, tr, td
    border-collapse: collapse
    border: thin solid black
  td
    padding: 2px
