<html>
    <head>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-N6DBLS8NF7"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-N6DBLS8NF7');
      </script>
    </head>
    <body>
      <style>
        li a {
          font-weight: bold;
          width: 9em;
          display: inline-block;
        }
      </style>
      <ul>
        <li><a href="ohnyajii">:ohnyajii:</a> - CR Caps</li>
        <li><a href="sajii">:Sajii: (JP)</a> - Team recommender (JP)</li>
        <li><a href="https://en.jiiku.pages.dev/sajii">:Sajii: (EN)</a> - Team recommender (EN)</li>
        <li><a href="https://kr.jiiku.pages.dev/sajii">:Sajii: (KR)</a> - Team recommender (KR)</li>
        <li><a href="https://tw.jiiku.pages.dev/sajii">:Sajii: (TW)</a> - Team recommender (TW)</li>
        <li><a href="https://dev.jiiku.pages.dev/sajii">:Sajii: (Testing)</a> - Team recommender (Testing)</li>
        <li><a href="https://jiiku831.github.io/sakirun.html">:sakirun:</a> - World link event tracker and preds</li>
        <li><a href="https://jiiku831.github.io/sekarun.html">:sekarun:</a> - Regular event tracker and preds</li>
        <li><a href="https://jiiku831.github.io/stonks.html">:IchikaStonks:</a> - Event cost calculator and planner</li>
        <li><a href="https://jiiku831.github.io/whale.html">:mikuwhale:</a> - Gacha outcome simulator</li>
      </ul>
    </body>
</html>
