<!doctype html>
<html lang="en-us">
  <head>
    <script src="/kondoyoupiece_lib.js"></script>
    <link rel="stylesheet" href="/kondoyoupiece.css"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png"></script>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>:kondoyoupiece:</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N6DBLS8NF7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-N6DBLS8NF7');
    </script>
  </head>
  <body>
    {% include "card_timeline.html" %}

    {% include "notices.html" %}

  </body>
</html>
