<details open>
  <summary>Notices</summary>
  <div>
    <p>
      This tool is unaffiliated with SEGA, Colorful Palette and Crypton, who owns the
      thumbnails and card data provided here for research purposes.
    </p>

    {% include "version.html" %}

    <p>
      This program contains compiled code from the following open source libraries:
    </p>

    <ul>
      <li>
        <a href="https://github.com/abseil/abseil-cpp">abseil-cpp</a>&nbsp;
        (<a href="/licenses/abseil-cpp/LICENSE.txt">Notice</a>)
      </li>
      <li>
        <a href="https://github.com/tinfoilboy">CTML</a>&nbsp;
        (<a href="/licenses/ctml/LICENSE.txt">Notice</a>)
      </li>
      <li>
        <a href="https://github.com/facebook/zstd">zstd</a>&nbsp;
        (<a href="/licenses/zstd/LICENSE.txt">Notice</a>)
      </li>
      <li>
        <a href="https://gitlab.com/libeigen/eigen">eigen</a>&nbsp;
        (<a href="/licenses/eigen/LICENSE.txt">Notice</a>)
      </li>
      <li>
        <a href="https://github.com/emscripten-core/emscripten">emscripten</a>&nbsp;
        (<a href="/licenses/emscripten/LICENSE.txt">Notice</a>)
      </li>
      <li>
        <a href="https://github.com/protocolbuffers/protobuf">protobuf</a>&nbsp;
        (<a href="/licenses/protobuf/LICENSE.txt">Notice</a>)
      </li>
      <li>
        <a href="https://github.com/madler/zlib">zlib</a>
      </li>
      <li>
        <a href="https://github.com/facebook/zstd">zstd</a>&nbsp;
        (<a href="/licenses/zstd/LICENSE.txt">Notice</a>)
      </li>
    </ul>
  </div>
</details>
