<!doctype html>
<html lang="en-us">
  <head>
    <script src="/sajii_lib.js"></script>
    <link rel="stylesheet" href="/styles.css"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png"></script>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>:Sajii:</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N6DBLS8NF7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-N6DBLS8NF7');
    </script>
  </head>
  <body>
    <div style="border: solid black thin; background: #fcc; padding: 1em; width: 40em; margin-bottom: 1ex;">
      <b>Notice:</b>&nbsp;Version 6.0.0: 5th Anniversary Update<br>
      <hr>
      <b>Current Status</b><br>
      &#x2713; Area item level uncap<br>
    </div>

    <div class="team-builder" id="team-builder">
    </div>

    <p style="max-width: 50em;">
      <b>Instructions</b>: Mark cards as owned in the list below and customize
      stats. Enter card ID in the table above to add to team, add "U" to the
      card ID (eg. 1058U) to use the untrained bloomfes skill.
        Slot 2 is special in that it will never have support cards added.
    </p>

    <p>
      <b>Other instances</b>:
      <a href="https://jiiku.pages.dev/sajii" target="_blank">JP Server</a>&nbsp;&middot;
      <a href="https://en.jiiku.pages.dev/sajii" target="_blank">EN Server</a>&nbsp;&middot;
      <a href="https://kr.jiiku.pages.dev/sajii" target="_blank">KR Server</a>&nbsp;&middot;
      <a href="https://tw.jiiku.pages.dev/sajii" target="_blank">TW Server</a>&nbsp;&middot;
      <a href="https://dev.jiiku.pages.dev/sajii" target="_blank">Testing</a>
    </p>

    <hr>

    <details open>
      <summary>Team Recommender</summary>

      <div>
        <h4>Important Notes</h4>
        <ul style="max-width: 50em">
          <li>
            The optimizer is probabilistic and may not be the true optimal team. Check the
            <a href="https://github.com/Jiiku831/sekai-public" target="_blank">source repo</a>
            for an exact optimizer. You may click the recommend button a few times to find if
            there is a better team.
          </li>
          <li>
            You may choose to import the card list from
            <a href="https://docs.google.com/spreadsheets/d/1_pHFBUTILVJbBFymBY08pVbrLu6VmYfPDuQifQKD0dA/edit?gid=1370982493#gid=1370982493" target="_blank">this spreadsheet</a>.
            Download the sheet as a CSV and then import it using the file select above.
          </li>
          <li>
            Parking targets above a certain threshold is done with limited
            compute budget and may not be the optimal path to parking. If
            a park fails, you can attempt to retry the computation by clicking
            the "Retry Park" button.
          </li>
        </ul>

        <b>Recommend Team:</b>&nbsp;
        <input type="button" value="Event (Slot 0)" onclick="controller.BuildEventTeam();">
        <input type="button" value="MySaki* (Slot 1)" onclick="controller.BuildMySakiTeam();">
        <span class="new-inline"></span>
        <input type="button" value="Fill (Slot 1)" onclick="BuildFillTeam(false);">
        <input type="button" value="Fill* (Slot 1)" onclick="BuildFillTeam(true);">
        <input type="button" value="Challenge Live (Slot 1)" onclick="BuildChallengeLiveTeam();">
        <input type="button" value="Single-Turn Park (Slot 2)" onclick="controller.BuildParkingTeam(false);">
        <input type="button" value="Single-Turn Park* (Slot 2)" onclick="controller.BuildParkingTeam(true);">
        &nbsp;<small>* Ignores team constraints.</small>

        <fieldset class="fill-params">
          <legend>Fill Team Parameters</legend>

          <label for="fill-min-power">Minimum Power<sup>&dagger;</sup></label>
          <input type="number" style="width: 7em;" min="0" step="1"
                 name="fill-min-power" id="fill-min-power" pattern="[0-9]">

          <small><sup>&dagger;</sup>&nbsp;May take a while to find a team.</small>
        </fieldset>

        <fieldset class="parking-params">
          <legend>Parking Parameters</legend>

          <label for="park-target">Target Points</label>
          <input type="number" style="width: 7em;" min="100" step="1"
                 name="park-target" pattern="[0-9]" onchange="SetTargetPoints(this);">
          <label for="park-accuracy">Play Accuracy (%)<sup>&ddagger;</sup></label>
          <input type="number" style="width: 7em;" min="1" max="100" step="1" value="95"
                 name="park-accuracy" pattern="[0-9]" onchange="SetParkAccuracy(this);">
          <input type="button" value="Retry Park (see notes)" onclick="controller.RefreshTeams();">

          <small><sup>&ddagger;</sup>&nbsp;Only affects parking related calculations.</small>

          <details style="max-width: 50em; margin-top: 1ex;">
            <summary style="font-size: initial;">How to Park</summary>

            <p>
              Keep playing on your event team until you are about 1 boosted
              play away from your EP target (100~10,000). At this point, enter
              the amount of points you still need into Target Points. Enter
              your team in any of the slots (I recommend using slot 2 during WL
              to remove the support team), select the current event, and it
              will tell you how to reach your target.
            </p>

            <p>
              Play solo ebi games on any difficulty (I recommend at least hard)
              until you reach the specified score range. Once you reach the
              target score range, stop playing and let the game finish (it does
              not matter if you lose all your health). If it says single-turn
              park, play&nbsp;<b>only one</b>&nbsp;of the shown strategies. If it says
              multi-turn park you need to play all of the listed games.
            </p>

            <p>
              If the target points is quite low (0~1000). You can try click on
              the recommend parking team button to generate a team that will
              get you exactly that many points for you in one game. The
              recommended parking team will never have fractional event bonus
              and will never use support teams. Clear your support team if you
              are on WL!
            </p>
          </details>
        </fieldset>

        <div id="team-recommender-output">
        </div>
        <details open>
          <summary>Event Bonus</summary>
          <div id="event-bonus-form">
            <label for="event-bonus-event-select">
              Event:
            </label>
            <select id="event-bonus-event-select"
                    onchange="SetEventBonusByEvent(this);">
            </select>
            <details>
              <summary>Custom Event</summary>
              <div>
                <table class="custom-event">
                  <tbody>
                    <tr>
                      <th>Event Attribute</th>
                      <td id="custom-event-attr"></td>
                      <td>
                      </td>
                    </tr>
                    <tr>
                      <th>Event Characters</th>
                      <td id="custom-event-chars"></td>
                      <td>
                        <input type="button" value="All"
                               onclick="SetAllFilter('custom-event-chars', true)">
                        <input type="button" value="None"
                               onclick="SetAllFilter('custom-event-chars', false)">
                      </td>
                    </tr>
                    <tr>
                      <th>Chapter Character</th>
                      <td><table id="custom-event-chapter"></table></td>
                      <td>
                      </td>
                    </tr>
                    <tr>
                      <th>World Link Version</th>
                      <td><table id="custom-event-wl-version"></table></td>
                      <td>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </details>
          </div>
        </details>
        <details>
          <summary>Team Constraints</summary>
          <div>
            <table class="team-constraints">
              <tbody>
                <tr>
                  <th>Allowed Leads</th>
                  <td><table id="lead-constraints"></table></td>
                  <td>
                    <input type="button" value="All"
                           onclick="SetAllFilter('lead-constraints', true)">
                    <input type="button" value="None"
                           onclick="SetAllFilter('lead-constraints', false)">
                  </td>
                </tr>
                <tr>
                  <th>Allowed Kizuna</th>
                  <td id="kizuna-constraints"></td>
                  <td>
                    <input type="button" value="All"
                           onclick="SetAllFilter('kizuna-constraints', true)">
                    <input type="button" value="None"
                           onclick="SetAllFilter('kizuna-constraints', false)">
                  </td>
                </tr>
                <tr>
                  <th>Allowed Rarities</th>
                  <td id="rarity-constraints"></td>
                  <td>
                    <input type="button" value="All"
                           onclick="SetAllFilter('rarity-constraints', true)">
                    <input type="button" value="None"
                           onclick="SetAllFilter('rarity-constraints', false)">
                  </td>
                </tr>
                <tr>
                  <th>Other Constraints</th>
                  <td>
                    <label for="lead-skill-constraint">
                      Min Lead Skill:
                    </label>
                    <input type="number"
                           id="lead-skill-constraint"
                           value="0"
                           onchange="controller.SetMinLeadSkill(parseInt(this.value));">
                  </td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
        <details>
          <summary>Challenge Live Character Select</summary>
          <table id="cl-character-select"></table>
        </details>
        <details open>
          <summary>Compatibility Options</summary>
          <div id="use-old-subunitless-bonus-container">
          </div><br>
          Canvas power calculation is incorrect between 5.0 and 5.1 due to an in-game
          bug. Please wait for Kondo to fix his game on non-JP servers.
        </details>
      </div>
    </details>

    <hr>

    <details open>
      <summary>Save Profile</summary>

      <div>
        This will save most stuff that matters. The teams and the challenge
        live character selection are not saved.
        <table class="save-table">
          <tr>
            <th>
              Local browser storage
            </th>
            <td>
              <input type="button" value="Load" onclick="controller.ReadSaveData();">
              <input type="button" value="Save" onclick="controller.WriteSaveData();">
              <input type="button" value="Delete" onclick="controller.DeleteSaveData();">
            </td>
          </tr>
          <tr>
            <th>
              Load from external source
            </th>
            <td>
              <input id="upload-cards" type="file" name="upload-cards" size=30><br>
              <input type="button" value="Import cards from CSV" onclick="ImportCsv();">
              <input type="button" value="Import from .binaryproto" onclick="ImportBinaryProto();">
              <input type="button" value="Import from .textproto" onclick="ImportTextProto();">
              <div id="upload-cards-output-area"></div>
            </td>
          </tr>
          <tr>
            <th>
              Export save data
            </th>
            <td>
              <input type="button" value="Export as .binaryproto" onclick="ExportBinaryProto();">
              <input type="button" value="Export as .textproto" onclick="ExportTextProto();">
              <br>
              Exporting as .binaryproto is more forwards-compatible. Exporting
              as .textproto is human readable.
            </td>
          </tr>
        </table>
      </div>
    </details>

    <hr>

    <details>
      <summary>Power Bonus</summary>
      <div>
        <table class="power-bonus-table">
          <tbody id="power-bonus-table-body">
          </tbody>
        </table>
      </div>
    </details>

    <hr>

    <details open>
      <summary>Card List</summary>

      <div>
        <details>
          <summary>Filters</summary>
          <div>
            <table class="card-list-filter">
              <tbody>
                <tr>
                  <th>Character</th>
                  <td><table id="card-list-char-filter"></table></td>
                  <td>
                    <input type="button" value="All"
                           onclick="SetAllFilter('card-list-char-filter', true)">
                    <input type="button" value="None"
                           onclick="SetAllFilter('card-list-char-filter', false)">
                  </td>
                </tr>
                <tr>
                  <th>Attribute</th>
                  <td id="card-list-attr-filter"></td>
                  <td>
                    <input type="button" value="All"
                           onclick="SetAllFilter('card-list-attr-filter', true)">
                    <input type="button" value="None"
                           onclick="SetAllFilter('card-list-attr-filter', false)">
                  </td>
                </tr>
                <tr>
                  <th>Rarity</th>
                  <td id="card-list-rarity-filter"></td>
                  <td>
                    <input type="button" value="All"
                           onclick="SetAllFilter('card-list-rarity-filter', true)">
                    <input type="button" value="None"
                           onclick="SetAllFilter('card-list-rarity-filter', false)">
                  </td>
                </tr>
                <tr>
                  <th>Unreleased Cards</th>
                  <td>
                    <input type="checkbox"
                           id="card-list-unreleased-filter"
                           onchange="controller.SetUnreleasedContentFilterState(this.checked)">
                    <label for="card-list-unreleased-filter">
                      Show
                    </label>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <th>Ownership</th>
                  <td>
                    <input type="checkbox"
                           id="card-list-owned-filter"
                           onchange="controller.SetOwnedCardsFilterState(this.checked)">
                    <label for="card-list-owned-filter">
                      Owned Cards Only
                    </label>
                  </td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>

        <div>
          Set ownership of all currently visible cards:
          <input type="button" value="Set" onclick="SetVisibleOwned(true)">
          <input type="button" value="Clear" onclick="SetVisibleOwned(false)">
        </div>

        <table id="card-list" class="card-list">
          <thead>
            <th>Owned</th>
            <th></th>
            <th></th>
            <th>ID</th>
            <th>Char</th>
            <th>Attr</th>
            <th>Rarity</th>
            <th>Level</th>
            <th>Trained</th>
            <th>Story 1</th>
            <th>Story 2</th>
            <th>Canvas</th>
            <th>Master Rank</th>
            <th>Skill Level</th>
          </thead>
          <tbody id="card-list-body">
          </tbody>
        </table>
      </div>
    </details>

    {% include "notices.html" %}

    <script type='text/javascript'>
      var Module = {
        totalDependencies: 0,
        monitorRunDependencies: (left) => {
          this.totalDependencies = Math.max(this.totalDependencies ?? 0, left);
          console.log('Preparing... (' + (this.totalDependencies - left) + '/' + this.totalDependencies + ')');
        },
      };
      console.log('Downloading...');
      window.onerror = () => {
        console.log('Exception thrown, see JavaScript console');
      };
    </script>
    {% set entry_point="{{{ SCRIPT }}}" %}{{ entry_point }}
  </body>
</html>
